@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes smooth-marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .animate-smooth-marquee {
    animation: smooth-marquee 30s linear infinite;
  }
  